.app-toolbar {
  display: flex;
  align-items: center;
}

.app-logo {
  height: 32px;
  width: auto;
  margin-right: 12px;
}

.title {
  font-weight: 600;
  font-size: 1.1rem;
}

.spacer {
  flex: 1;
}
