.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 36px;
}

.chat-history {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 10px;
}

.messages {
  flex: 1;
  margin-bottom: 16px;
  overflow-y: auto;
  padding-right: 8px;
}

.message {
  margin-bottom: 8px;
}

.message-buble {
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  display: inline-block;
}

.user {
  background-color: #004d40;
  border-radius: 10px;
  align-self: flex-end;
  margin-left: auto;
}

.chat-input {
  flex: 0 0 auto;
  padding: 16px;
}

.full-width {
  width: 100%;
}
